name: Bob the Builder

on:
  push:
    branches:
      - 'main'
      - 'action'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build ttt
      run: make
